Versions/
Fabrication/
3D/
bom/
Spectra/
Gerber/


# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files

*.*bak
*-backups
*.kicad_prl
fp-info-cache
*.zip
*.lck

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv
